<!-- -*- mode: XML -*- -->
<launch>
  <arg name="camera_id" default="0"/>
  <arg name="camera_frame_id" default="raspicam"/>
  <arg name="left_camera_name" default="left"/>
  <arg name="right_camera_name" default="right"/>

  <arg name="pi/2" value="1.5707963267948966" />

  <node pkg="tf" type="static_transform_publisher" name="camera_base_link"
     args="0.315 0 0.19 -$(arg pi/2) 0 -$(arg pi/2) base_link left 100" /> 

<group ns="/akrobat_stereo" >
    <node type="stereo_node" pkg="raspicam_node" name="camera" output="screen" launch-prefix="">
    <param name="private_topics" value="true"/>
    <param name="imagefx_mode" value="none"/>
    <param name="encoding" value="bgr8"/>
    <param name="sensor_mode" value="7"/>
    <!-- "none", "negative", "sketch", "sketch", "emboss", "gpen", 
    "watercolour", "film", "blur", "saturation", "washedout", "posterise", "colourpoint", "colourbalance", "cartoon"  -->
    <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <param name="camera_id" value="$(arg camera_id)"/>

    <param name="left_camera_info_url" value="file://$(find raspicam_node)/camera_info/left/left.yaml"/>
    <param name="right_camera_info_url" value="file://$(find raspicam_node)/camera_info/right/right.yaml"/>
    <param name="left_camera_name" value="$(arg left_camera_name)"/>
    <param name="right_camera_name" value="$(arg right_camera_name)"/>
    <!-- <param name="width" value="1280"/>
    <param name="height" value="720"/> -->
    <param name="width" value="640"/>
    <param name="height" value="480"/>
    <param name="framerate" value="8"/>
  </node>

  <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
    <remap from="left/image_raw"   to="camera/left/image_raw"/>
    <remap from="right/image_raw"  to="camera/right/image_raw"/>
    <remap from="left/camera_info"  to="camera/left/camera_info"/>
    <remap from="right/camera_info" to="camera/right/camera_info"/>	
	</node>
    <!-- Odometry -->
    <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen">

        <remap from="left/image_rect"       to="left/image_rect"/>
      	<remap from="right/image_rect"      to="right/image_rect"/>
      	<remap from="left/camera_info"      to="camera/left/camera_info"/>
      	<remap from="right/camera_info"     to="camera/right/camera_info"/>
      	<remap from="odom"                  to="/odom"/>
        
        <param name="Odom/Strategy"      type="string" value="0"/> <!-- 0=Frame-to-Map, 1=Frame=to=Frame -->
        <param name="frame_id" type="string" value="base_link"/>
        <param name="odom_frame_id" type="string" value="/odom"/>
        <param name="approx_sync"   type="bool" value="false"/>
        <param name="queue_size"    type="int" value="5"/>

        
    </node>     
</group>

</launch>